body{margin:0; padding:0;}
ul,ol,li{ list-style-type:none;}
.all,.navs{
	width: 100%;
	height: 100%;
}
.head,.content,.navs_content{
	width: 1000px;
	height: auto;
	margin: 10px auto;
}
.header_content{
	height: 100px;
	line-height: 100px;
}
.head_son{
	float: left;
	width: 50%;
}
.head_son button{
	float: right;
	margin-left: 20px;
}
.navs_tem{
	width: 120px;
	height: 40px;
	float: left;
	text-align: center;
	cursor: pointer;
	font-size: large;
}
.navs_tem:hover{
	background-color: #00b0c8;
}

.tem_hover{
	background-color: #00b0c8;
	color: white;
}
.content_son{
	float: left;
	margin-top: 20px;
}
.content_left{
	width: 700px;
	height: 100%;
	background-color: #286090;
}
.content_right{
	width: 270px;
	margin-left: 30px;
	background-color: cornflowerblue;
	height: 1000px;
}
.question_title{
	height: 60px;
	line-height: 60px;
	font-size: medium;
	color: black;
}
.item-list{
    width:100%;
    height:100%;
    
}
.items{
	float:left;
	width:30%;
    height:180px;
    border:1px solid #ddd;
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
}
.items img{
	margin-top: 30px;
}
.items p{
	margin-top: 15px;
}
.items:hover{
	background-color: #66AFE9;
	opacity:0.9;
	filter:alpha(opacity=90);
}
